-
  const galleryItems = [
    {
      type: 'image',
      name: 'portfolio_img-1',
    },
    {
      type: 'video',
      name: 'ML01',
    },
    {
      type: 'image',
      name: 'portfolio_img-3',
    },
    {
      type: 'video',
      name: 'ML04',
    },
    {
      type: 'image',
      name: 'portfolio_img-2',
    },
    {
      type: 'image',
      name: 'portfolio_img-4',
    },
    {
      type: 'image',
      name: 'portfolio_img-2',
    },
    {
      type: 'video',
      name: 'ML01',
    },
    {
      type: 'video',
      name: 'ML02',
    },
    {
      type: 'image',
      name: 'portfolio_img-2',
    },
    {
      type: 'image',
      name: 'portfolio_img-4',
    },
    {
      type: 'image',
      name: 'portfolio_img-2',
    },
    {
      type: 'video',
      name: 'ML03',
    },
    {
      type: 'video',
      name: 'ML01',
    },
    {
      type: 'image',
      name: 'portfolio_img-2',
    },
    {
      type: 'image',
      name: 'portfolio_img-4',
    },
    {
      type: 'image',
      name: 'portfolio_img-2',
    },
    {
      type: 'video',
      name: 'ML04',
    },

  ]

section.gallery
  .container-fluid
    h1.main-title Галерея наших работ

    .gallery__content
      include ../../components/_portfolio-sort
      ul.gallery__list
        each item in galleryItems
          li.gallery__item(data-type= item.type)
            if item.type === 'image'
              picture
                source(media="(max-width: 534px)" srcset=`./assets/img/${item.name}-mobile@1x.webp 1x, ./assets/img/${item.name}-mobile@2x.webp 2x` type="image/webp" width="400" height="300")
                source(media="(max-width: 959px)" srcset=`./assets/img/${item.name}-tablet@1x.webp 1x, ./assets/img/${item.name}-tablet@2x.webp 2x` type="image/webp" width="600" height="450")
                source(type="image/webp" srcset=`./assets/img/${item.name}@2x.webp 1x, ./assets/img/${item.name}@2x.webp 2x` width="800" height="600")

                source(media="(max-width: 534px)" srcset=`./assets/img/${item.name}-mobile@1x.jpg 1x, ./assets/img/${item.name}-mobile@2x.jpg 2x` type="image/jpg" width="400" height="300")
                source(media="(max-width: 959px)" srcset=`./assets/img/${item.name}-tablet@1x.jpg 1x, ./assets/img/${item.name}-tablet@2x.jpg 2x` type="image/jpg" width="600" height="450")
                img(src=`./assets/img/${item.name}@1x.jpg` srcset=`./assets/img/${item.name}@2x.jpg 2x` loading="lazy" alt= item.name width="800" height="600")
            if item.type === 'video'
              video.video-js(controls width="600" height="400")
                //source(src=`./assets/video/${item.name}.webm` type="video/webm")
                source(src=`./assets/video/${item.name}.mp4` type="video/mp4")
