-
  const portfolioList = [
    {
      img: 'portfolio_img-1',
      title: '"Ароматный мир"',
      description: [
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.',
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.'
      ]
    },
    {
      img: 'portfolio_img-2',
      title: '"Ароматный мир"',
      description: [
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.',
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.'
      ]
    },
    {
      img: 'portfolio_img-3',
      title: '"Ароматный мир"',
      description: [
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.',
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.'
      ]
    },
    {
      img: 'portfolio_img-4',
      title: '"Ароматный мир"',
      description: [
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.',
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.'
      ]
    },
    {
      img: 'portfolio_img-3',
      title: '"Ароматный мир"',
      description: [
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.',
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.'
      ]
    },
    {
      img: 'portfolio_img-4',
      title: '"Ароматный мир"',
      description: [
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.',
        'В целом, конечно, внедрение современных методик играет определяющее значение для вывода текущих активов. Кстати, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть разоблачены. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности выявляет срочную потребность переосмысления внешнеэкономических политик.'
      ]
    },
  ]

section.section.portfolio#portfolio
  .container-fluid
    .portfolio__wrapper
      .portfolio__sticky-container
        h2.main-title.portfolio__title Портфолио

      .portfolio__gallery
        each item in portfolioList
          .portfolio__item
            picture
              source(media="(max-width: 534px)" srcset=`./assets/img/${item.img}-mobile@1x.webp 1x, ./assets/img/${item.img}-mobile@2x.webp 2x` type="image/webp" width="400" height="300")
              source(media="(max-width: 959px)" srcset=`./assets/img/${item.img}-tablet@1x.webp 1x, ./assets/img/${item.img}-tablet@2x.webp 2x` type="image/webp" width="600" height="450")
              source(type="image/webp" srcset=`./assets/img/${item.img}@2x.webp 1x, ./assets/img/${item.img}@2x.webp 2x` width="800" height="600")

              source(media="(max-width: 534px)" srcset=`./assets/img/${item.img}-mobile@1x.jpg 1x, ./assets/img/${item.img}-mobile@2x.jpg 2x` type="image/jpg" width="400" height="300")
              source(media="(max-width: 959px)" srcset=`./assets/img/${item.img}-tablet@1x.jpg 1x, ./assets/img/${item.img}-tablet@2x.jpg 2x` type="image/jpg" width="600" height="450")
              img(src=`./assets/img/${item.img}@1x.jpg` srcset=`./assets/img/${item.img}@2x.jpg 2x` alt= item.title width="800" height="600")

        a(href="portfolio.html").portfolio__link
          span.portfolio-link-overlay(aria-hidden="true")
          svg(width="65" height="45").arrow-group
            use(xlink:href="./assets/svg-sprite.svg#icon-arrows-hero")

          span.text Хотите увидеть <br/> больше работ

          svg(width="61" height="132").question-mark
            use(xlink:href="./assets/svg-sprite.svg#icon-question")
